<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO DE SESSION</title>
</head>
<body>
    <p>Inicio de session requerido</p>
    
    <form class="useer" method="post">
        {% csrf_token %}
        <label for="usuario">
            usuario
            <input type="text" name='username' id='username'>
        </label>
        <label for="pass">
            Contraseña
            <input type="password" name='password' id='password'>
        </label>
        <button type="submit">Iniciar session</button>
    </form>

    
</body>
</html>